src/WebApi2Book.Windows.Legacy.Client/Service References/TaskServiceReference/TeamTaskService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetStatuses">
        <s:complexType />
      </s:element>
      <s:element name="GetStatusesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStatusesResult" type="tns:ArrayOfStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Status" nillable="true" type="tns:Status" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Status">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StatusId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Ordinal" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetStatusById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="statusId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatusByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStatusByIdResult" type="tns:Status" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStatusesSoapIn">
    <wsdl:part name="parameters" element="tns:GetStatuses" />
  </wsdl:message>
  <wsdl:message name="GetStatusesSoapOut">
    <wsdl:part name="parameters" element="tns:GetStatusesResponse" />
  </wsdl:message>
  <wsdl:message name="GetStatusByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetStatusById" />
  </wsdl:message>
  <wsdl:message name="GetStatusByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetStatusByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="TeamTaskServiceSoap">
    <wsdl:operation name="GetStatuses">
      <wsdl:input message="tns:GetStatusesSoapIn" />
      <wsdl:output message="tns:GetStatusesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStatusById">
      <wsdl:input message="tns:GetStatusByIdSoapIn" />
      <wsdl:output message="tns:GetStatusByIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TeamTaskServiceSoap" type="tns:TeamTaskServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStatuses">
      <soap:operation soapAction="http://tempuri.org/GetStatuses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusById">
      <soap:operation soapAction="http://tempuri.org/GetStatusById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TeamTaskServiceSoap12" type="tns:TeamTaskServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStatuses">
      <soap12:operation soapAction="http://tempuri.org/GetStatuses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusById">
      <soap12:operation soapAction="http://tempuri.org/GetStatusById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TeamTaskService">
    <wsdl:port name="TeamTaskServiceSoap" binding="tns:TeamTaskServiceSoap">
      <soap:address location="http://localhost:62965/TeamTaskService.asmx" />
    </wsdl:port>
    <wsdl:port name="TeamTaskServiceSoap12" binding="tns:TeamTaskServiceSoap12">
      <soap12:address location="http://localhost:62965/TeamTaskService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>